

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("./img/image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    overflow: hidden;
}

.navbar{
    background-color: rgb(139, 139, 241);
    display: flex;
    justify-content:space-evenly;
    
   
    
}

.navbar-brand{
font-size: 35px;
margin: auto;
padding: 7px;}
.nav-link:hover{
    border-bottom: 2px solid white;
    color : white ;
    
}